body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: snow;
  color: darkslategrey;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.answer{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 67, 67);
}

.correct{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 230, 35);
  font-weight: bold;
}
.app-container{
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgb(211, 213, 215);
}

h1,h2 {
  text-align: center;
  margin-bottom: 20px;
}

.option { 
  
  display: block;
  width: 100%; 
  padding: 12px;
  margin: 8px 0;
  border: 2px solid lightgray; 
  border-radius: 6px;
  background: #e7ecf0;
  cursor: pointer; 
  text-align: left;
  transition: background 0.3s, border 0.3s;
}

.option:hover{
  background: #d5d9dd;
}

.option.selected{
  background: #f99090;
  border: 2px solid rgb(255, 79, 79);
}

.restart-button { 
  display: block;
  margin: 20px auto; padding: 10px 20px;
  border: none;
  background: #f54242;
  color: white; border-radius: 6px;
  cursor: pointer; font-size: 1em;
  transition: background 0.3s;
  }

.restart-button:hover { background: #e51e1e;
  }

.score {
    font-size: 1.4em; text-align: center;
    margin: 20px 0;}

.nav-buttons button { padding: 10px 20px;
      border: none;
      background: #f54242; color: white; border-radius: 6px;
      cursor: pointer; font-size: 1em;
      transition: background 0.35s ease-in-out;}

.nav-buttons button:hover { background: #bd0000; transition: 0.5s ease-in-out; color: rgb(255, 255, 255);}

.nav-buttons {
  display: flex;
  justify-content: space-between; margin-top: 20px;}
  
.nav-buttons button:disabled { background: #ffc0c0; cursor: not-allowed;}